.chat-pane {
    background-color: #00FF00; /* Light gray background */
    padding: 10px;
}

.chat-message {
    -fx-background-color:  #333;/*green*/
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; /* Text color black */
    -fx-border-color: #333; /* Border color red */
    -fx-border-width: 1px;
    -fx-control-inner-background: #404040;
    -fx-padding: 5px;
}

.chat-input {
    -fx-background-color: #404040;
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff; /* Text color for the input field white*/
    -fx-pref-height: 5px;

}

.button-send {
    -fx-background-color: #BEBEBE; /* lightgrey send button */
    -fx-text-fill: #505050; /* dark grey text */
    -fx-pref-width: 100px;

}
.chat-container {
    -fx-background-color: #f0f0f0; /* Background color for the chat container */
    -fx-padding: 10px;
    -fx-spacing: 5px; /* Adjust spacing as needed */
}

.text-flow {
    -fx-font-size: 70px;
    -fx-text-fill: #FF0000; /* Text color for incoming messages */
}



